.MarkedApp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    margin: auto;
    height: 100vh;
    background-color: #224B4B;
}

.MarkedHeader {
    margin: auto;
    height: 10vh;
}

.MarkedPreviewerBox {
    margin: 0% 1% 0% 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: justify;
    height: auto;
    height: 80vh;
}

.TextEditor {
    margin: 1%;
    height: 400px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 4px solid black;
    border-radius: 2%; 
}

.TextEditor .fab {
    width: 100%;
    background-color: darkolivegreen;
}

#editor {
    border: 0 none white;
    overflow: hidden;
    padding: 0;
    outline: none;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    background-color: #619E9E;
}

.MarkedPreviewer {
    margin: 1%;
    height: 400px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 4px solid black;
    border-radius: 2%;
}

.MarkedPreviewer .fab {
    width: 100%;
    background-color: darkolivegreen;
}

.PreviewSection {
    margin: 0%;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: #619E9E;
}

footer {
    margin: auto;
    height: 10vh;
    text-align: center;
}

footer p {
    font-size: 18px;
}

footer p a {
    text-decoration: none;
    color: black;
}

@media only screen and (min-width: 240px) and (max-width: 480px) {
    .MarkedHeader h1 { font-size: 18px; }
    .MarkedPreviewerBox { flex-direction: column; }
    .TextEditor { height: 200px; width: 250px; }
    .MarkedPreviewer { height: 200px; width: 250px; }
    .fa-2x { font-size: 1em; }
} 

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .MarkedHeader h1 { font-size: 18px; }
    .MarkedPreviewerBox { flex-direction: column; }
    .TextEditor { height: 200px; width: 400px; }
    .MarkedPreviewer { height: 200px; width: 400px; }
    .fa-2x { font-size: 1em; }
}